@import "colors";

nav {
  background-color: $secondery;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;

  > h1 {
    text-transform: uppercase;
  }

  > div {
    display: flex;
    align-items: center;

    > a {
      color: $tertiary;
      font-size: 1.2rem;
      margin: 0 1rem;
      transition: all 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.cart {
  display: flex;
  align-items: center;

  > p {
    padding-left: 0.25rem;
  }
}
